node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/coverage
.turbo
*.tsbuildinfo

.env
.data
var
*.db
*.db-journal

.git
.gitignore
Dockerfile
docker-compose*.yml
README.md
pnpm-debug.log*
npm-debug.log*
yarn-error.log*
